h5 {
    font-family: monospace;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.formdata {
    text-align: center;
    border-style: solid;
    border-color: grey;
    width: 300px;
}

.formdata {
    text-align: center;
    border-style: solid;
    border-color: grey;
    width: 300px;
}

.flexcontainer-outer {
  display: flex;
}

.flex-container1 {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }

.flexcontainer2 {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  border-radius: 15px 50px 30px;
  background: #73AD21;
  padding: 15px;
  width: 190px;
  

}

.bookitem {
  margin-left: 15px;
  margin-bottom: 15px;
  border-radius: 15px 50px 30px;
  background: #b1d67e;
  padding: 20px;
}

ul {
  padding-inline-start: 0px;
  list-style-type: none;
}

p {
  margin: 0px;
}

h5 {
  margin: 2px;
}

